
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 
.IfaixaBranca {
    background-color: #d8bb5d;
    height: 70px; 
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    margin-top: 35px;
}
.content {
    color: #ffffff; 
    margin-left: 300px;
    padding: 15px;
}
.imagem {
    height: calc(111vh - 70px);
    width: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Morro_da_Cruz%2C_Florian%C3%B3polis_-_SC%2C_Brazil_-_panoramio_%28cropped%29.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 70px;
}
.imagem::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bemVindo {
    color: #000000;
    text-align: center;
    margin-top: 100px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size:24px;
    letter-spacing: 2px;
    word-spacing: -2px;
    color: white;
    position: relative;
    z-index: 1;
}
.titulo{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
#comecar {
    margin-top: 150px;
    width: 90px;
    height: 30px;
    background-color: rgb(205, 133, 63);
    border: none;
    transition: 0.4s ease;
    color: black;
    cursor: pointer;
    font-weight: 1000;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#comecar:hover {
    transform: scale(1.1);
}
.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 830px;
    margin-right: auto;
    margin-top: -74px;
    font-size: 14px;
    width: 340px;
    height: 80px;
    padding-top: 95px;
}
.content2 a {
    color: black; 
    text-decoration: none;
}

.Chome {
    padding: 4px;
    width: 70px;
    height: 30px;
    text-align: center;
}
.Iimoveis {
    padding: 4px;
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.Iimoveis:hover {
    border: 2px solid #5b633f;
    padding: 2px;
}
.Iimoveis a {
    color: aliceblue;
}
.quemsou {
    padding: 4px;
    width: 120px;
    height: 30px;
    text-align: center;
}
.Ccontato2 {
    padding: 3px;
    width: 80px;
    height: 30px;
    text-align: center;
}


.Iwpp { 
    position: fixed;
    top: 490px;
    right: -10px;
}
      
.Ilogo {
    height: 160px; 
    width: 160px;
}
#Ibt {
    position: fixed;
    margin-left: 1240px;
    width: 80px;
    height: 80px;
    top: 528px;
    opacity: 0;
    cursor: pointer;
}


.container {
  padding-top: 100px;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.slide-item {
  width: 100%;
  height: 450px;
  object-fit: cover;
  padding-top: 20px;
}

#destaques {
  color: aliceblue;
  background-color: rgba(216, 187, 93, 0.7);
  width: 550px;
  padding: 4px;
  text-align: center;
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}




.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffff; /* Cor de fundo dos bullets inativos */
  opacity: 1.0;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #d8bb5d; /* Cor de fundo do bullet ativo */
}

/* Estilos para a navegação (botões anterior e próximo) */
.swiper-button-next,
.swiper-button-prev {
  color: #000000;
  background-color: #d8bb5d;
  opacity: 1; 
  border-radius: 15px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px; 
}
.slide-content {
  position: relative;
}
.neighborhood {
  position: absolute;
  top: 30px; 
  left: 10px; 
  background-color: rgba(216, 187, 93, 0.7); 
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px; 
  z-index: 10; 
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
.price-tag {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  background-color: rgba(216, 187, 93, 0.7); 
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 30px; 
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.negocio {
  padding-top: 100px;
  margin-left: 100px;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
.ache {
  font-size: 80px;
}
.imgNegocio {
  width: 290px;
  padding: 0px;
}
.logoNegocio {
  height: 100px;

}