
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 
.IfaixaBranca {
    background-color: #d8bb5d;
    height: 70px; 
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    margin-top: 35px;
}
.content {
    color: #ffffff; 
    margin-left: 300px;
    padding: 15px;
}
.imagem {
    height: calc(111vh - 70px);
    width: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Morro_da_Cruz%2C_Florian%C3%B3polis_-_SC%2C_Brazil_-_panoramio_%28cropped%29.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 70px;
}
.imagem::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bemVindo {
    color: #000000;
    text-align: center;
    margin-top: 100px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size:24px;
    letter-spacing: 2px;
    word-spacing: -2px;
    color: white;
    position: relative;
    z-index: 1;
}
.titulo{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
#comecar {
    margin-top: 150px;
    width: 90px;
    height: 30px;
    background-color: rgb(205, 133, 63);
    border: none;
    transition: 0.4s ease;
    color: black;
    cursor: pointer;
    font-weight: 1000;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#comecar:hover {
    transform: scale(1.1);
}
.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 830px;
    margin-right: auto;
    margin-top: -74px;
    font-size: 14px;
    width: 340px;
    height: 80px;
    padding-top: 95px;
}
.content2 a {
    color: black; 
    text-decoration: none;
}

.Chome {
    padding: 4px;
    width: 70px;
    height: 30px;
    text-align: center;
}
.Iimoveis {
    padding: 4px;
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.Iimoveis:hover {
    border: 2px solid #5b633f;
    padding: 2px;
}
.Iimoveis a {
    color: aliceblue;
}
.quemsou {
    padding: 4px;
    width: 120px;
    height: 30px;
    text-align: center;
}
.Ccontato2 {
    padding: 3px;
    width: 80px;
    height: 30px;
    text-align: center;
}



/* Estilos para a seção de imóveis de destaque */
.destaques {
    text-align: center;
    padding: 50px 20px;
    background-color: #5b633f;
    width: 100%;
    padding-top: 100px;
  }
  
  .destaques h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
    color: #ffffff;
    background-color: #5b633f; 
    height: 60px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px;
    border: 4px solid #d8bb5d;
  }
  
  .imoveis-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
  }

  .imovel {
    position: relative;
    flex: 1 1 calc(33.333% - 40px); /* Ajusta para 3 itens por linha, com espaçamento */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .imovel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border: 4px solid #d8bb5d;
  }
  
  .imovel:hover img {
    transform: scale(1.1);
  }
  
  .imovel:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 0.3s ease;
  }
  
  .imovel:hover .overlay {
    transform: scale(1);
  }
  
  .overlay h3 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.Iwpp { 
    position: fixed;
    top: 490px;
    right: -10px;
}
      
.Ilogo {
    height: 160px; 
    width: 160px;
}
#Ibt {
    position: fixed;
    margin-left: 1240px;
    width: 80px;
    height: 80px;
    top: 528px;
    opacity: 0;
    cursor: pointer;
}
  
  
  



