@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.ctt {
    padding-top: 100vh;
}
body {
    background-color: #5b633f;
    position: relative;
    z-index: 1;
}
.principal {
    text-align: center;
} 
.HfaixaBranca {
    background-color: #d8bb5d;
    height: 70px; 
    width: 100%;
    position: absolute;
    top: 5%; 
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    margin-top: 3px;
}
.content {
    margin-top: -15px;
}
.logo22 {
    position: fixed;
    margin-top: -10px;
    padding: 10px; 
    width: 100px; 
    height: auto;
    margin-left: -300px;
}
.imagem {
    height: calc(111vh - 70px);
    width: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Morro_da_Cruz%2C_Florian%C3%B3polis_-_SC%2C_Brazil_-_panoramio_%28cropped%29.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 70px;
}
.imagem::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bemVindo {
    color: #000000;
    text-align: center;
    margin-top: 100px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size:24px;
    letter-spacing: 2px;
    word-spacing: -2px;
    color: white;
    position: relative;
    z-index: 1;
}
.titulo{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
#Hcomecar {
    margin-top: 90px;
    width: 130px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #000000;
    transition: all 0.4s ease;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
}
  
#Hcomecar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    transition: all 0.4s ease;
    z-index: -1;
}
  
#Hcomecar:hover::before {
    left: 50%;
}
  
#Hcomecar:hover {
    color: #ffffff;
    background-color: #d8bb5d;
    border-color: #000000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.Hcontent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 830px;
    margin-right: auto;
    margin-top: -74px;
    font-size: 14px;
    width: 340px;
    height: 80px;
    padding-top: 95px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.Hcontent2 a {
    color: black; 
    text-decoration: none;
}
.Hhome {
    padding: 3px;
    width: 70px;
    height: 30px;
    text-align: center;
    color: rgb(255, 255, 255); 
    text-decoration: underline;
}
.Hhome a {
    color: rgb(255, 255, 255); 
}
.Hhome:hover {
    border: 2px solid #5b633f;
    padding: 1px;
}
.imoveis {
    padding: 4px;
    width: 70px;
    height: 30px;
    text-align: center;
}
.imoveis:hover {
    border: 2px solid #5b633f;
    padding: 2px;
}
.quemsou {
    padding: 4px;
    width: 130px;
    height: 30px;
    text-align: center;
}
.quemsou:hover {
    border: 2px solid #5b633f;
    padding: 2px;
}
.contato {
    padding: 4px;
    width: 80px;
    height: 30px;
    text-align: center;
}
.contato:hover {
    border: 2px solid #5b633f;
    padding: 2px;
}
.wpp { 
    position: fixed;
    top: 490px;
    right: -10px;

}
      
.logo {
    height: 160px; 
    width: 160px;
}
#bt {
    position: fixed;
    margin-left: 508px;
    width: 80px;
    height: 80px;
    top: 528px;
    opacity: 0;
    cursor: pointer;
}
.logo23 {
    position: fixed;
    margin-left: -145px;
    margin-right: auto;
    top: 470px;
    height: 140px;
    background-color: rgba(91, 99, 63, 0);
}
.Content1 {
    margin-left: 200px;
    position: fixed;
    top: 28px;
}
.Content1 a {
    color: #000000;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.wpp2 {
    height: 20px;
    position: fixed;
    margin-left: 175px;
    top: 27px;
}